<!DOCTYPE html>
  <head>
    <title>Todo</title>
    {% block stylesheets %}
    <!DOCTYPE
 <style type="text/css">
<!--
body {
	background-image: url(images/bg.png);
	
}
-->
 </style>
 <link href="{{ asset('bundles/applicationtodo/css/bootstrap.css') }}" rel="stylesheet">
 <link href="{{ asset('bundles/applicationtodo/css/style2.css') }}" rel="stylesheet" type="text/css" />
 <link rel="stylesheet" type="text/css" href="{{ asset('bundles/applicationtodo/css/style9.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/applicationtodo/css/demo.css') }}" />    
        <link href='http://fonts.googleapis.com/css?family=Terminal+Dosis' rel='stylesheet' type='text/css' />
        <style type="text/css">
<!--
.Stile1 {color: #333333}
-->
        </style>
        
        {% endblock %}
 </head>
 <body>
{% block body -%}
     
<div id="container">
<header>
    <nav>   
      <div id="logo"><a href="{{ path('application_todo_homepage') }}"><img src="{{ asset('bundles/applicationtodo/images/logo.png') }}" alt="Logo here" /></a>      </div>
      
      <div id="search-top">
  <!--- <form method="post" action="#">
  <input type="text" onFocus="if(this.value=='Search')this.value='';" onBlur="if(this.value=='')this.value='Search';" value="Search"  id="search-field"/>
  <input type="submit" value="" id="search-btn"/>
  </form> -->
              <label style="color:blue;font-family:verdana;font-size: 16px;padding-left: 30px;"> welcome {{ app.session.get('username') }}| <a href="{{ path('application_todo_logout')}}" style="text-decoration: none;color:red">Logout</a></label> 
      </div>
      <div id="nav_social"><a href="#"><img src="{{ asset('bundles/applicationtodo/images/facebook_32.png') }}" alt="Become a fan" width="32" height="32" /></a><a href="#"><img src="{{ asset('bundles/applicationtodo/images/twitter_32.png') }}" alt="Follows on Twitter" /></a><a href="#"><img src="{{ asset('bundles/applicationtodo/images/linkedin_32.png') }}" alt="Linked in" /></a><a href="#"><img src="{{ asset('bundles/applicationtodo/images/email_32.png') }} " alt="Contact" width="32" height="32" /></a> 
      
      
      
      </div>
  </nav>
  
    </header>

<div class="content">

           <ul class="ca-menu">
                    <li>
                        <a href="{{ path('application_todo_symfonybook')}}">
                            <span class="ca-icon">B</span>
                            <div class="ca-content">
                                <h2 class="ca-main">Symfony Learing</h2>
                                <h3 class="ca-sub">Symfony Book</h3>
                            </div>
                        </a>                    </li>
                    <li>
                        <a href="{{ path('task') }}">
                            <span class="ca-icon">T</span>
                            <div class="ca-content">
                                <h2 class="ca-main">Symfony Pratice</h2>
                                <h3 class="ca-sub">Symfony Task Manager</h3>
                            </div>
                        </a>                    </li>
                    <li>
                        <a href="{{ path('taskprogress') }}">
                            <span class="ca-icon">P</span>
                            <div class="ca-content">
                                <h2 class="ca-main">Symfony Progress</h2>
                                <h3 class="ca-sub">Symfony Progress sheet</h3>
                            </div>
                        </a>                    </li>
                    <li>
                        <a href="#">
                            <span class="ca-icon">U</span>
                            <div class="ca-content">
                                <h2 class="ca-main">Symfony Updates</h2>
                                <h3 class="ca-sub">Symfony Updates day to day</h3>
                            </div>
                        </a>                    </li>
                </ul>
  <!--star main --> 
    
    <main>    
       <div class="abox">
      <figure>
      <fcapion>
     
     </div> 
            <div style="float:right" class="enter2" >
                 <br/><br/>              
                <label style="font-weight: bold;font-size: 32px;font-family: cursive;padding-left: 15px;">Task </label>     <br/>

       <table  class="table-striped" cellspacing="15" cellpadding = "10" style="width:800px;font-size:17px;padding-left:60px;">

        <tbody>
            <tr>
                <th style="font-weight: bold;font-size: 16px;padding-left: 15px;">Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                 <th style="font-weight: bold;font-size: 16px;padding-left: 15px;">Task</th>
                <td>{{ entity.task }}</td>
            </tr>
            <tr>
                <th style="font-weight: bold;font-size: 16px;padding-left: 15px;">Estimateddays</th>
                <td>{{ entity.estimateddays }}</td>
            </tr>
            <tr>
                <th style="font-weight: bold;font-size: 16px;padding-left: 15px;">Completeddays</th>
                <td>{{ entity.completeddays }}</td>
            </tr>
        </tbody>
    </table><br/><br/>

        <ul class="record_actions">
    <li>
        <a href="{{ path('taskprogress') }}" style="font-weight: bold;font-size: 15px;padding-left: 15px;">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('taskprogress_edit', { 'id': entity.id }) }}" style="font-weight: bold;font-size: 15px;padding-left: 15px;">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
 </div>
    </main>
    <!--end main -->
    <!--start middle -->
    <middle>  
        <!-- <label style="color:red;font-family:verdana;font-size: 24px;font-weight: bold">Symfony Book</label><br/><br/> -->
       
    </middle>
</div>
<!--end middle -->
<!--start footer -->
<footer>  
  <div id="footer">
  <div id="footerleft">
      <h2>Imediacreatives</h2>
      <ul>
        <li><a href="http://www.imediacreatives.it">Css3 Kitesurf</a></li>
        <li><a href="..."> Layout Design Gardenfolio</a></li>
        <li><a href="..."> BlueBand</a></li>
      </ul>
    </div>
    <div id="footermiddle">
      <h2>User Comments</h2>
      <ul>
        <li><a href="...">SWF XLM Sldeshow</a></li>
        <li><a href="http://www.imediacreatives.it">Michelangelo</a></li>
        <li><a href="...">Another Templates Principato</a></li>
      </ul>
    </div>
    <div id="footerright">
      <h2>Design & Project</h2>
      <ul>
        <li><a href="http://www.imediacreatives.it">CSS3 Design</a></li>
        <li><a href="http://www.imediacreatives.it">Psd to CSS </a></li>
        <li><a href="http://www.imediacreatives.it">Psd to Html5</a></li>
      </ul>
    </div>
    <details>
<summary>
<p><a href="http://www.imediacreatives.it" target="_blank">Imediacreatives.it</a>
  Copyright &copy; yoursite.com -2011.</p></summary><p></p>
</details>
    </div>
</footer>
<!--end footer -->
</div>
<!--end container -->
<!-- Free template distributed by http://freehtml5templates.com -->
         
    {% endblock %}
    
</body>
  {% block javascripts %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
{% endblock %}
</html>
   



